/* header */
.header {
  background: transparent;
  position: fixed;
  width: 100%;
}
.header:hover {
  background: #fff;
}
.header h1 img {
  width: 135px;
  height: 35px;
}

.header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  color: #fff;
}

.header .menuWrap ul {
  display: flex;
  gap: 100px;
}
.header .menuWrap ul li a {
  color: #fff;
  transition: 0.3s;
}
.header:hover .menuWrap ul li a {
  color: #000;
}

/* visual */
.visual {
  height: 100vh;
  min-height: 700px;
  background-color: pink;
  background-image: url(../img/visual.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: #fff;
}

/* content */
.cont {
  height: 300px;
}

/* footer */
